@import '../../../theme/default/theme.scss';

.simple_slider {
  position: relative;
  width: 100%;
  height: 100%;
  .alternate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .next,
  .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1.5);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 9999;
    @media (max-width: $mobile) {
      transform: translateY(-50%) scaleY(2);
    }
  }
  .next {
    right: 5%;
    @media (max-width: $mobile) {
      right: 0;
    }
  }
  .prev {
    left: 5%;
    @media (max-width: $mobile) {
      left: 0;
    }
  }
}
