@import "../../theme";

.post_items_list {
  opacity: 0;
  transition: opacity ease 0.5s;
  &.visible {
    opacity: 1;
  }
  .container {
    display: flex;
    padding: 0;
    margin-bottom: 25px;
    .content_container {
      flex: 1;
      margin-left: 0;
      .title {
        text-decoration: none;
        font-size: $titleFontSize;
        color: $headerColor;
        font-weight: $boldWeight;
      }
      .activity_container {
        display: flex;
        margin-top: 10px;

        .catalog,
        .created_at {
          display: inline-block;
          font-size: $smallFontSizeDefault;
        }
        .seperate {
          &::before {
            display: flex;
            content: ".";
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 50%;
            width: 25px;
            font-weight: $boldWeight;
          }
        }
      }
      .short {
        margin-top: 10px;
        ul {
          padding-left: 17px;
          li {
            list-style: disc;
            margin-bottom: 7px;
            word-spacing: 1.2px;
            line-height: 18px;
          }
        }
      }
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      padding: 25px 0;
      .image_container {
        width: 100%;
      }
      .content_container {
        margin-left: 0;
        margin-top: 25px;
      }
    }
  }
}
