@import '../../theme';

.copyright {
  opacity: 0;
  transition: opacity ease 0.5s;
  &.visible {
    opacity: 1;
  }
  .logo {
    display: flex;
    align-items: center;
    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }
  .copyright_container {
    width: 100%;
    margin-top: 1.25rem;
    padding: 1.25rem 0 0;
    .copyright_item {
      width: 100%;
      text-align: center;
      margin-bottom: 0.25rem;
    }
  }
}
