@import "../../theme";
@import "../../../../_stdio/shared/scss/arrow";
.what_customers_said_about_us {
  opacity: 0;
  transition: opacity ease 0.5s;
  width: 100%;
  position: relative;
  &.visible {
    opacity: 1;
  }
  .container {
    width: 100%;
    .title {
      margin-bottom: 30px;
      font-family: $alterFontFamily;
      font-size: 25px;
      text-transform: uppercase;
      color: $darker2Color;
      font-weight: 600;
      text-align: center;
      p {
        margin: 0;
        padding: 0;
      }
    }
    .description {
      margin-bottom: 50px;
      font-size: 16px;
      text-align: center;
      p {
        margin: 0;
        padding: 0;
        span {
          background-color: transparent !important;
        }
      }
    }
    .post_items_container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      @media (max-width: $mobile) {
        flex-direction: column;
        flex-wrap: nowrap;
      }

      .post_item {
        margin-bottom: 60px;
        padding: 0 60px;
        width: calc(100% / 3);

        @media (max-width: $mobile) {
          padding: 0 20px;
          margin-bottom: 50px;
          width: 100%;
        }

        &:first-child {
          padding-left: 0;
          padding-right: 120px;
          @media (max-width: $mobile) {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
        &:nth-child(3n) {
          padding-right: 0;
          padding-left: 120px;
          @media (max-width: $mobile) {
            padding-right: 20px;
            padding-left: 20px;
          }
        }
        &:nth-child(4n) {
          padding-left: 0;
          padding-right: 120px;
          @media (max-width: $mobile) {
            padding-left: 20px;
            padding-right: 20px;
          }
        }

        .post_item_container {
          display: flex;
          flex-direction: column;
          align-items: center;

          .post_item_cover {
            width: 120px;
            height: 120px;
            img {
              vertical-align: middle;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .post_item_info {
            margin-top: 10px;
            .post_item_title {
              font-family: $alterFontFamily;
              flex: 1;
              color: $primaryFontColor;
              font-size: 14px;
              margin-bottom: 0px;
              text-align: center;
              @media (max-width: $mobile) {
                font-size: 16px;
              }
            }
            .post_item_sub_title {
              font-family: $alterFontFamily;
              flex: 1;
              color: $primaryFontColor;
              font-size: 14px;
              margin-bottom: 10px;
              text-align: center;
              @media (max-width: $mobile) {
                font-size: 16px;
              }
            }
            .post_item_rate {
              margin-bottom: 15px;
            }
            .post_item_short {
              text-align: center;
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 8;
              -webkit-box-orient: vertical;
              @media (max-width: $mobile) {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
