@import "../../theme";
@import "../../../../_stdio/shared/scss/arrow";
.what_customers_said_about_us {
  opacity: 0;
  transition: opacity ease 0.5s;
  width: 100%;
  position: relative;
  &.visible {
    opacity: 1;
  }
  .container {
    width: 100%;
    .title {
      margin-bottom: 30px;
      font-family: $alterFontFamily;
      font-size: 25px;
      text-transform: uppercase;
      color: $darker2Color;
      font-weight: 600;
      text-align: center;
      p {
        margin: 0;
        padding: 0;
      }
    }
    .description {
      margin-bottom: 50px;
      font-size: 16px;
      text-align: center;
      p {
        margin: 0;
        padding: 0;
        span {
          background-color: transparent !important;
        }
      }
    }
    .post_items_container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      @media (max-width: $mobile) {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
    .dialog_content {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
    .post_item {
      margin-bottom: 60px;
      padding: 0 60px;
      width: calc(100% / 3);

      @media (max-width: $mobile) {
        padding: 0 20px;
        margin-bottom: 50px;
        width: 100%;
      }

      &:first-child {
        padding-left: 0;
        padding-right: 120px;
        @media (max-width: $mobile) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      &:nth-child(3n) {
        padding-right: 0;
        padding-left: 120px;
        @media (max-width: $mobile) {
          padding-right: 20px;
          padding-left: 20px;
        }
      }
      &:nth-child(4n) {
        padding-left: 0;
        padding-right: 120px;
        @media (max-width: $mobile) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .post_item_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .post_item_cover {
          width: 120px;
          height: 120px;
          img {
            vertical-align: middle;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .post_item_info {
          margin-top: 10px;
          .post_item_title {
            font-family: $alterFontFamily;
            flex: 1;
            color: $primaryFontColor;
            font-size: 14px;
            margin-bottom: 0px;
            text-align: center;
            @media (max-width: $mobile) {
              font-size: 16px;
            }
          }
          .post_item_sub_title {
            font-family: $alterFontFamily;
            flex: 1;
            color: $primaryFontColor;
            font-size: 14px;
            margin-bottom: 0;
            min-height: 36px;
            text-align: center;
            @media (max-width: $mobile) {
              font-size: 16px;
            }
          }
          .post_item_action {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            .post_item_next_button {
              display: inline-block;
              padding: 5px 16px;
              cursor: pointer;
              border: 1px solid #dddddd;
              border-radius: 5px;
              background-color: #f1f1f1;
              transition: all ease 0.25s;
              &:hover {
                border-color: transparent;
                background-color: #b8c99b;
                color: #fff;
              }
            }
          }

          .post_item_rate {
            margin-bottom: 15px;
          }
          .post_item_short {
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            &.detail {
              display: block;
            }
            @media (max-width: $mobile) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .dialog_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: block;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    background-color: #fff;

    .dialog {
      margin: 0 auto;
      padding: 0;
      position: relative;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      @media (max-width: $mobile) {
        width: 100%;
        height: 100vh;
      }
      .dialog_background_footer {
        height: 320px;
        width: 100vw;
        @media (max-width: $mobile) {
          height: 115px;
        }
        .background {
          width: 100%;
          height: 100%;
          background-image: url("../assets/images/background-feeling-checkin.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: bottom;
          @media (max-width: $mobile) {
            background-image: url("../assets/images/background-feeling-checkin-mobile.png");
            background-size: cover;
            background-position: inherit;
          }
        }
      }
    }
  }
}

.dialog_close_wrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 100%;
  z-index: 99999;
  top: 0;
  @media (max-width: $mobile) {
    width: 100%;
  }
  .dialog_close {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    @media (max-width: $mobile) {
      right: 25px;
      top: 20px;
    }
    div {
      width: 2rem;
      height: 0.1rem;
      background-color: rgb(27, 26, 26);
      position: absolute;
      top: 50%;
      &:first-child {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
}
