@import "../../theme";

.navigation {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  opacity: 0;
  transition: opacity ease 0.5s;
  &.visible {
    opacity: 1;
  }
  ul {
    display: flex;
    li {
      a {
        font-size: $navFontSize;
        text-decoration: none;
        color: $primaryFontColor;
        text-transform: uppercase;
        padding: 0 20px;
      }
      &:first-child {
        a {
          padding-left: 0;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      // ul {
      //   li {
      //     margin-left: 1rem;
      //   }
      // }
    }
  }
}
