.navigation {
  opacity: 0;
  transition: opacity ease 0.5s;
  &.visible {
    opacity: 1;
  }
  ul {
    li {
      margin-left: 1rem;
      a {
        text-decoration: none;
        color: #fff;
      }
      ul {
        li{
          margin-left: 1rem;
        }
      }
    }
  }
}
