{
  "Name": "template-name",
  "StyleName": "",
  "Widgets": [
    {
      "Name": "",
      "ConfigurationName": "",
      "Enabled": false,
      "Placeholder": "",
      "Parameters": [{ "Name": "", "Value": "" }]
    }
  ]
}
