.widget_config {
  opacity: 1;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  .container {
    flex: 1;
  }
  .item {
    display: flex;
    .container {
      display: flex;
      align-items: center;
      padding: 5px;
      border: 1px solid #ddd;
    }
    .text {
      display: inline-block;
    }
  }
}

.button {
  display: flex;
  cursor: pointer;
  border: 1px solid #bbb;
  padding: 3px 10px;
  flex: 1;
  justify-content: center;
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  span {
    display: inline-block;
  }
  &.primary {
    border: 1px solid #808df1;
  }
  &.secondary {
    border: 1px solid #cf4c4c;
  }
}
