@import '../../theme';

.input_fields {
  opacity: 0;
  transition: opacity ease 0.5s;
  &.visible {
    opacity: 1;
  }
  .fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all ease 1s;
    &.disabled {
      @include disabled;
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .submit {
      @include button;
      &.disabled {
        @include disabled;
      }
    }
  }
}

.message_info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  transition: all ease 0.5s;
  &.visible {
    z-index: 9999;
    opacity: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.85;
    z-index: -1;
  }
  span {
    display: inline-block;
    position: absolute;
    background-color: #aaa;
    padding: 2rem;
    text-transform: uppercase;
    color: #fff;
    @include middle;
  }
}
