.logo {
  opacity: 0;
  transition: opacity ease 0.5s;
  width: 100%;
  &.visible {
    opacity: 1;
  }
  a {
    display: block;
    width: 100%;
    img {
      width: 100%;
      background-color: #fff;
      border-radius: 50%;
    }
  }
}
