@import '../../theme';

.post_catalogs {
  opacity: 0;
  transition: opacity ease 0.5s;
  &.visible {
    opacity: 1;
  }
  .title {
    padding: 10px;
    background-color: $primaryColor;
    span {
      font-size: $headerListFontSize;
      color: $fontBackground;
      text-transform: uppercase;
    }
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    li {
      display: block;
      width: 100%;
      transition: all ease 0.25s;
      border-bottom: 1px dashed #555;
      a {
        cursor: pointer;
        display: block;
        padding: 0.5rem;
        transition: all ease 0.25s;
      }
      &:hover {
        a {
          background-color: $primaryHoverColor;
          color: $fontBackground !important;
        }
      }
      &.selected {
        a {
          color: $primaryColor;
          font-weight: $boldWeight;
        }
      }
      &:hover {
        a {
          color: #333;
        }
      }
    }
  }
  .show_more {
    margin-top: 0.25rem;
    .show_more_btn {
      cursor: pointer;
      display: inline-block;
      padding: 0.5rem;
      transition: all ease 0.5s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
