@import '../../../theme/default/theme.scss';

button.nav_burger {
  position: fixed;
  top: 7%;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 11;
  @media (max-width: $mobile) {
    display: flex;
  }
  &:focus {
    outline: none;
  }
  div {
    width: 2rem;
    height: 0.25rem;
    background-color: $primaryDark;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    &:first-child {
      transform: rotate(0);
    }
    &:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
    }
    &:nth-child(3) {
      transform: rotate(0);
    }
  }
  &[open='true'] div {
    background-color: $primaryDark;

    &:first-child {
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
      transform: translateX(20px);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
