@import '../../theme';

.title {
  margin-bottom: 1.5rem;
  h1 {
    display: block;
    border-left: 5px solid $primaryHeaderColor;
    padding-left: 1rem;
    span {
      display: block;
      font-size: 30px;
      color: $primaryHeaderColor;
      text-transform: uppercase;
      font-weight: $regularWeight;
    }
  }
}

.title2 {
  margin-bottom: 1rem;
  h1 {
    display: block;
    span {
      display: block;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      color: #83a46a;
    }
  }
}
