@import "theme";
.default {
  &,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  html {
    box-sizing: border-box;
  }
  body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: $fontSizeDefault;
    text-rendering: optimizeLegibility;
    background-color: $primaryBackground;
    color: $primaryFontColor;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  blockquote {
    margin: 0;
    padding: 0;
  }
  h1 {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    font-family: $fontLinkFamily;
    color: $primaryFontColor;
    &:hover {
      color: $primaryHoverColor;
    }
  }
  img {
    outline: none;
    border: none;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  li a span {
    word-break: break-all;
  }
}
