@import "../../_stdio/shared/scss/common";
@import "../../_stdio/shared/scss/responsive";

$fontFamily: "Roboto", sans-serif;
$fontLinkFamily: "Roboto Condensed", sans-serif;

$ipadProLWidth: 85%;
$ipadLWidth: 94%;
$ipadWidth: 95%;
$mobileLayoutWidth: 85%;

$primaryLayoutWidth: 65%;
$secondaryLayoutWidth: 90%;
$secondaryMobileLayoutWidth: 100%;
$primaryBackground: #fff;
$primaryFontColor: #424242;
$primaryColor: #83a46a;
$primaryHoverColor: #83a46a;

$bolderWeight: 700;
$boldWeight: 600;
$thinWeight: 100;
$lightWeight: 300;
$regularWeight: 400;
$lightBoldWeight: 500;

$navFontSize: 16px;

$primaryDark: #0d0c1d;
$primaryGrey: #72717b;
$primaryLightGrey: #dadada;
$primaryLight: #effffa;
$primaryHover: #343078;
$errorColor: #f00;
$errorBackgroundColor: #ffd8d8;
$primaryMarginTop: 2.1rem;
$primaryMarginBottom: 2.1rem;
$secondaryMarginTop: 1rem;
$secondaryMarginRight: 1rem;
$primaryFlexDirection: column;
$letterSpacingNavMobile: 0.5rem;
$letterSpacingNav: 0.25rem;
$fontSizeNavDefault: 0.75rem;
$fontSizeDefault: 0.85rem;
$fontSizeMobile: 1rem;
$fontSizeButtonDefault: 1rem;
$fontSizeNavMobile: 2rem;

@mixin twoAreas {
  .above_section {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
  }
  .below_section {
    display: block;
  }
}

@mixin primaryPageStyle {
  width: 100%;
  height: 100%;
}
@mixin buttonDefault {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
  font-size: $fontSizeButtonDefault;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  position: relative;
  cursor: pointer;
  span {
    display: inline-block;
    z-index: 1;
  }
  div {
    @include noPadding;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease 0.5s;
  }
  &:hover {
    div {
      opacity: 0.25;
    }
  }
}
@mixin buttonDefaultLight {
  @include buttonDefault;
  color: $primaryLight;
  border: 3px solid $primaryLight;
  &:hover {
    div {
      background: $primaryLight;
      opacity: 0.4;
    }
  }
}
@mixin buttonDefaultDark {
  @include buttonDefault;
  color: $primaryDark;
  border: 3px solid $primaryDark;
  &:hover {
    div {
      background: $primaryDark;
    }
  }
}
@mixin primaryLayout {
  @include noPadding;
  width: $primaryLayoutWidth;
  @media (max-width: $ipadProL) {
    width: $ipadProLWidth;
  }
  @media (max-width: $ipadPro) {
    width: $ipadLWidth;
  }
  @media (max-width: $ipadL) {
    width: $ipadLWidth;
  }
  @media (max-width: $ipad) {
    width: $ipadWidth;
  }
  @media (max-width: $mobile) {
    width: $mobileLayoutWidth;
  }
}
@mixin secondaryLayout {
  @include noPadding;
  width: $secondaryLayoutWidth;
  @media (max-width: $mobile) {
    width: $secondaryMobileLayoutWidth;
  }
}
@mixin title {
  .title {
    display: flex;
    h1 {
      font-size: 1.5rem;
      font-weight: $lightWeight;
      text-transform: capitalize;
    }
  }
}
@mixin headerTitle {
  .title {
    display: flex;
    width: 100%;
    h1 {
      flex: 1;
      text-align: center;
      text-transform: uppercase;
      color: $primaryDark;
      font-size: 1.5rem;
      font-weight: $lightWeight;
      border-top: 0.1rem solid $primaryDark;
      border-bottom: 0.1rem solid $primaryDark;
      padding: 1rem 0;
    }
  }
}
@mixin textSpacingDefault {
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  line-height: 1.5rem;
}
@mixin fontStyleDefault {
  font-size: $fontSizeDefault;
  @include textSpacingDefault;
  font-weight: $lightWeight;
}
@mixin homeButton {
  position: relative;
  font-size: 1.5rem;
  font-weight: $boldWeight;
  @include middle;
  word-spacing: 0.3rem;
}
@mixin homeButtonDark {
  @include buttonDefaultDark;
  @include homeButton;
}
@mixin homeButtonLight {
  @include buttonDefaultLight;
  @include homeButton;
}
