@import "../../_stdio/shared/scss/common";
@import "../../_stdio/shared/scss/responsive";

$fontFamily: "Roboto", sans-serif;
$fontLinkFamily: "Roboto Condensed", sans-serif;
$alterFontFamily: "Roboto Condensed", sans-serif;

$ipadProLWidth: 85%;
$ipadLWidth: 94%;
$ipadWidth: 95%;
$mobileLayoutWidth: 85%;
$macLayoutWidth: 81%;

$primaryLayoutWidth: 65%;
$secondaryLayoutWidth: 90%;
$secondaryMobileLayoutWidth: 100%;

$primaryBackground: #fff;
$primaryFontColor: #424242;
$primaryHeaderColor: #d95e57;
$primaryButtonColor: #d95e57;
$primaryButtonTextColor: #fff;
$primaryColor: #83a46a;
$highlightColor: #83a46a;
$primaryHoverColor: #83a46a;
$footerBackgroundColor: #EEEFE9;

$bolderWeight: 700;
$boldWeight: 600;
$thinWeight: 100;
$lightWeight: 300;
$regularWeight: 400;
$lightBoldWeight: 500;

$fontSizeDefault: 14px;
$navFontSize: 16px;
$headerFontSize: 44px;
$headerMobileFontSize: 34px;
$headerShortFontSize: 18px;
$moduleMarginTop: 5rem;

@mixin button {
  & {
    display: inline-block;
    padding: 7px 30px;
    font-family: $fontFamily;
    background-color: $primaryButtonColor;
    border-radius: 50px;
    color: $primaryButtonTextColor;
    text-transform: uppercase;
    &:hover {
      background: $primaryHoverColor;
      color: $primaryFontColor;
    }
  }
}

@mixin primaryLayout {
  @include noPadding;
  width: $primaryLayoutWidth;
  @media (max-width: $macbook) {
    width: $macLayoutWidth;
  }
  @media (max-width: $ipadProL) {
    width: $ipadProLWidth;
  }
  @media (max-width: $ipadPro) {
    width: $ipadLWidth;
  }
  @media (max-width: $ipadL) {
    width: $ipadLWidth;
  }
  @media (max-width: $ipad) {
    width: $ipadWidth;
  }
  @media (max-width: $mobile) {
    width: $mobileLayoutWidth;
  }
}
