@import "../../_stdio/shared/scss/variable";
@import "../../_stdio/shared/scss/common";
@import "../../_stdio/shared/scss/responsive";

$fontFamily: "Roboto", sans-serif;
$fontLinkFamily: "Roboto Condensed", sans-serif;
$alterFontFamily: "Roboto Condensed", sans-serif;

$ipadProLWidth: 85%;
$ipadLWidth: 94%;
$ipadWidth: 95%;
$mobileLayoutWidth: 85%;
$macLayoutWidth: 81%;

$primaryLayoutWidth: 65%;
$secondaryLayoutWidth: 90%;
$secondaryMobileLayoutWidth: 100%;

$primaryBackground: #fff;
$fontBackground: #fff;
$primaryFontColor: #424242;
$lighterFontColor: #464646;
$primaryHeaderColor: #d95e57;
$primaryButtonColor: #d95e57;
$primaryButtonTextColor: #fff;
$primaryColor: #83a46a;
$highlightColor: #83a46a;
$primaryHoverColor: #83a46a;
$footerBackgroundColor: #eeefe9;
$darker2Color: #1d3a18;
$darkerColor: #688b61;
$mainColor: #b8c99b;
$lighterColor: #a5b588;
$lighter2Color: #d5d8c5;

$bolderWeight: 700;
$boldWeight: 600;
$thinWeight: 100;
$lightWeight: 300;
$regularWeight: 400;
$lightBoldWeight: 500;

$fontSizeDefault: 14px;
$smallFontSizeDefault: 12px;
$navFontSize: 16px;
$headerListFontSize: 18px;
$headerFooterFontSize: 18px;
$headerShortFontSize: 18px;
$titleFontSize: 18px;
$headerMobileFontSize: 34px;
$headerFontSize: 44px;

$moduleMarginTop: 5rem;
$footerHeaderMarginTop: 1rem;

@mixin disabled {
  opacity: 0.25;
  pointer-events: none;
}
@mixin button {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 66px;
    height: 100%;
    font-family: $fontFamily;
    background-color: $darker2Color;
    border-radius: 3px;
    color: $primaryButtonTextColor;
    text-transform: uppercase;
    &:hover {
      background: $primaryHoverColor;
      color: $primaryFontColor;
    }
  }
}

@mixin button2 {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0 10px;
    font-family: $fontFamily;
    background-color: $primaryButtonColor;
    color: $primaryButtonTextColor;
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    &:hover {
      background: $primaryHoverColor;
      color: $primaryFontColor;
    }
    span {
      display: inline-block;
    }
  }
}

@mixin primaryLayout {
  @include noPadding;
  width: $primaryLayoutWidth;
  @media (max-width: $macbook) {
    width: $macLayoutWidth;
  }
  @media (max-width: $ipadProL) {
    width: $ipadProLWidth;
  }
  @media (max-width: $ipadPro) {
    width: $ipadLWidth;
  }
  @media (max-width: $ipadL) {
    width: $ipadLWidth;
  }
  @media (max-width: $ipad) {
    width: $ipadWidth;
  }
  @media (max-width: $mobile) {
    width: $mobileLayoutWidth;
  }
}
