@import 'theme';
.resume {
  &,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  html {
    box-sizing: border-box;
  }
  body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: $fontSizeDefault;
    text-rendering: optimizeLegibility;
    background-color: $backgroundColor;
    color: $commonColor;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  blockquote {
    margin: 0;
    padding: 0;
  }
  h1 {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    font-family: $fontLinkFamily;
    color: $linkColor;
    &:hover {
      color: $linkHoverColor;
    }
  }
  img {
    outline: none;
    border: none;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}
