@import "../../theme";
.text_field {
  opacity: 0;
  transition: opacity ease 0.5s;
  font-size: 14px;
  color: $color-white;
  &.visible {
    opacity: 1;
  }
  a {
    color: $color-white;
  }
  .content {
    p {
      &:first-child {
        margin-block-start: 0;
        margin-block-end: 0;
      }
    }
  }
}
