@import "../../theme";

.text_field {
  opacity: 0;
  transition: opacity ease 0.5s;
  font-size: 14px;
  color: $color-white;
  text-align: center;
  line-height: 20px;
  &.visible {
    opacity: 1;
  }
  .content {
    p {
      padding: 0;
      margin: 0;
    }
  }
}
