@import "../../theme";

.specific_contact_information {
  padding-right: 20px;
  &:first-child {
    padding-right: 0;
  }
  opacity: 0;
  transition: opacity ease 0.5s;
  &.visible {
    opacity: 1;
  }
  @media (max-width: $mobile) {
    padding-right: 0;
    flex: 1;
  }
  .container {
    display: block;
    width: 100%;
    padding: 5px 0;
    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
    }
    .icon {
      color: $color-white;
    }
    span {
      font-family: $fontFamily;
      font-size: 14px;
      color: $color-white;
      &.label,
      &.key {
        font-weight: $lightBoldWeight;
      }
    }
  }
}
