@import "../../theme";

@mixin container {
  display: flex;
  @include primaryLayout;
}

.template_one_column {
  .header {
    width: 100vw;
    .header_top {
      height: 35px;
      background-color: $primaryColor;
      .container {
        @include container;
      }
    }
    $marginTop: 15px;
    .header_middle {
      .container {
        @include container;
        .header_middle_left {
          max-width: 80px;
          margin-top: $marginTop;
          @media (max-width: $mobile) {
            max-width: 60px;
          }
        }
        .header_middle_right {
          flex: 1;
          margin-top: $marginTop;
          @media (max-width: $mobile) {
            position: relative;
          }
        }
      }
    }
    .header_bottom {
      .container {
        @include container;
      }
    }
  }
  .body {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .footer {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $footerBackgroundColor;
    min-height: 291px;
    .footer_above {
      @include primaryLayout;
      display: flex;
      padding-top: $moduleMarginTop;
      padding-bottom: $moduleMarginTop;
      @media (max-width: $mobile) {
        flex-direction: column;
      }
    }
    .footer_bottom {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}
