@import "../../theme";
.container {
  @include noPadding;
  width: 100%;
  min-height: 252px;
  background-color: $lighterColor;
  @media (max-width: $mobile) {
    flex-direction: column;
    min-height: inherit;
  }
}
