@import "../../theme";
.container {
  @include noPadding;
  width: 100%;
  height: 105px;
  background-color: $mainBackgroundColor;
  &.sticky {
    height: 75px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
  }
}
