@import "../../theme";
.container {
  position: relative;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  @media (max-width: $mobile) {
    display: flex !important;
    flex-direction: column !important;
    flex: none !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
