@import '../../theme';

$postFontColor: #000;
$postShortFontColor: #757575;
$postFontSize: 18px;
$postShortFontSize: 16px;

.post_item {
  opacity: 0;
  transition: opacity ease 0.5s;
  &.visible {
    opacity: 1;
  }
  .container {
    @include primaryLayout;
    padding-top: $moduleMarginTop;
    padding-bottom: $moduleMarginTop;
    .header {
      padding-bottom: 1rem;
      .row {
        display: flex;
        .catalog {
          display: inline-block;
        }
        .seperate {
          &::before {
            display: flex;
            content: '.';
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 50%;
            width: 25px;
            font-weight: $boldWeight;
          }
        }
        .created_date {
          display: inline-block;
        }
      }
    }
    .body {
      color: $postFontColor;
      .post_title {
        padding-bottom: 1rem;
        width: 80%;
        @media (max-width: $mobile) {
          width: 100%;
        }
        h1 {
          font-size: 40px;
          letter-spacing: -1px;
          word-spacing: 3px;
          @media (max-width: $mobile) {
            font-size: 20px;
          }
        }
      }
      .post_short {
        padding-bottom: 1rem;
        span {
          color: $postShortFontColor;
          font-weight: $boldWeight;
          font-size: $postShortFontSize;
          padding: 0 12rem 0 0;
          display: inline-block;
          @media (max-width: $mobile) {
            width: 100%;
            padding: 0;
          }
        }
      }
      .post_body {
        display: flex;
        .post_body_left {
          width: 70px;
          @media (max-width: $mobile) {
            width: 35px;
          }
        }
        .post_body_right {
          display: flex;
          flex: 1;
          @media (max-width: $mobile) {
            flex-direction: column;
            padding-left: 10px;
          }
          .post_body_content_left {
            flex: 1;
            .post_body_content {
              font-size: $postFontSize;
              word-spacing: 2px;
              line-height: 1.7rem;
              padding: 0 5rem 0 2.5rem;
              p:first-child {
                margin-block-start: 0;
              }
              @media (max-width: $mobile) {
                padding: 0 0 0.5rem;
                font-size: 16px;
              }
            }
          }
          .post_body_content_right {
            width: 270px;
          }
        }
      }
    }
    .footer {
      .footer_container {
        padding-top: $moduleMarginTop;
        padding-left: 70px;
        padding-right: 270px;
        @media (max-width: $mobile) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
