@import "../../theme";

/**
* Feeling checkin form
*/
.dialog_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: block;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;

  .dialog {
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 10;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: #fff;
    @media (max-width: $mobile) {
      width: 100%;
      min-height: 100vh;
      height: auto;
    }
  }
}

.dialog_close_wrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 100%;
  z-index: 99999;
  top: 0;
  @media (max-width: $mobile) {
    width: 100%;
  }
  .dialog_close {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    @media (max-width: $mobile) {
      right: 25px;
      top: 20px;
    }
    div {
      width: 2rem;
      height: 0.1rem;
      background-color: rgb(27, 26, 26);
      position: absolute;
      top: 50%;
      &:first-child {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
}

/**
* Form panel
*/
.form_panel {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  transition: all easy 0.25s;
  &.loading {
    opacity: 0.6;
    pointer-events: none;
  }

  // Header
  .header {
    margin-top: 10px;
    .header_content {
      font-family: $alterFontFamily;
      text-align: center;
      font-size: 2.6vw;
      @media (max-width: $mobile) {
        font-size: 4vh;
      }
    }
  }

  // Question area
  .form_question_area {
    position: relative;
    margin-top: 50px;
    padding: 0 60px;
    @media (max-width: $mobile) {
      padding: 0 10px;
    }
    .question_panel {
      margin: 0 auto;
      .question_panel_layout {
        margin-bottom: 50px;
        border-bottom: 1px dashed #ddd;
        padding-bottom: 50px;
        &:last-child {
          border-bottom: none;
        }
        .question_title {
          font-size: 1.35vw;
          font-weight: 600;
          text-align: center;
          font-family: $alterFontFamily;
          @media (max-width: $mobile) {
            font-size: 3vh;
          }
        }
        .answer_area {
          margin-top: 30px;
          .answer_item {
            // Image type
            &.answer_image {
              width: 130px;
              height: auto;
              cursor: pointer;
              border-radius: 50%;
              transition: all ease 0.25s;
              @media (max-width: $mobile) {
                width: 95px;
              }
              &.selected {
                pointer-events: none;
              }
              .answer_image_content {
                transition: all ease 0.25s;
                border-radius: 50%;
                figure {
                  padding: 0;
                  margin: 0;
                  width: 100%;
                  img {
                    width: 100%;
                    display: block;
                  }
                }
                &:hover {
                  box-shadow: 0 0 8px 3px #73b528;
                }
              }
              &.selected {
                .answer_image_content {
                  box-shadow: 0 0 14px 7px #73b528;
                }
              }
              .answer_image_value {
                margin-top: 5px;
                text-align: center;
                width: 100%;
                font-size: 0.95vw;
                @media (max-width: $mobile) {
                  font-size: 14px;
                }
              }
            }

            // Checkbox
            $checkbox-size: 20px;
            &.answer_checkbox {
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                border: 1px solid #aaa;
                transition: all 0.3s ease;
                background: #ddd;
                width: $checkbox-size;
                height: $checkbox-size;
                &:checked {
                  background: #73b528;
                  border-color: #4f7c1b;
                }
              }
              label {
                flex: 1;
                .answer_checkbox_content {
                  cursor: pointer;
                  margin-left: 10px;
                  p {
                    padding: 0;
                    margin: 0;
                  }
                }
              }
            }

            // Checkbox2
            &.answer_checkbox2 {
              display: flex;
              align-items: center;
              margin-bottom: 25px;
              justify-content: center;
              .answer_checkbox2_content {
                cursor: pointer;
                padding: 1.2vw;
                background-color: #f1f1f1;
                border-radius: 10px;
                font-size: 0.95vw;
                transition: all 0.3s ease;
                min-width: 130px;
                text-align: center;
                @media (max-width: $mobile) {
                  padding: 1.5vh;
                  font-size: 2vh;
                }
                &:hover {
                  background-color: $mainColor;
                  color: $color-white;
                }
                &.selected {
                  background-color: $mainColor;
                  color: $color-white;
                }
                p {
                  padding: 0;
                  margin: 0;
                }
              }
            }

            // Text
            &.answer_text {
              display: block;
              position: relative;
              width: 870px;
              margin: 0 auto;
              @media (max-width: $mobile) {
                width: 100%;
              }
              .answer_text_content {
                width: 100%;
                ul {
                  li {
                    list-style: disc;
                    margin-left: 17px;
                  }
                }
                img {
                  width: 100% !important;
                }
              }
            }
          }
        }
        &.horizontal {
          .answer_area {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .answer_item {
              margin-right: 50px;
              @media (max-width: $mobile) {
                margin-right: 25px;
                margin-bottom: 25px;
                &:nth-child(2n) {
                  margin-right: 0;
                  margin-left: 25px;
                  &:last-child {
                    margin-right: 0 !important;
                  }
                }
              }
              &:last-child {
                margin-right: 0;
                @media (max-width: $mobile) {
                  margin-right: 25px;
                  margin-left: 25px;
                }
              }
            }
            &:after {
              display: block;
              content: "";
              clear: both;
            }
          }
        }
        &.vertical {
          .answer_area {
            .answer_item {
            }
          }
        }
      }
    }
  }

  // Form actions
  .form_action_panel {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 0;
    width: 100%;
    @media (max-width: $mobile) {
      width: 100%;
    }
    .form_button {
      position: absolute;
      padding: 10px;
      background-color: #ddd;
      cursor: pointer;
      text-transform: uppercase;
      width: 65px;
      height: 65px;
      text-align: center;
      transition: all ease 0.25s;
      @media (max-width: $mobile) {
        width: 45px;
        font-size: 17px;
        transition: none;
      }
      &.next {
        right: 2px;
        &:hover {
          right: -4px;
          @media (max-width: $mobile) {
            right: 2px;
          }
        }
        div {
          width: 2rem;
          height: 0.4rem;
          background-color: rgb(27, 26, 26);
          position: absolute;
          top: 50%;
          @media (max-width: $mobile) {
            height: 0.3rem;
          }
          &:first-child {
            transform: rotate(45deg) translate(-5px, -15px);
            @media (max-width: $mobile) {
              transform: rotate(45deg) translate(-10px, -10px);
            }
          }
          &:nth-child(2) {
            transform: rotate(-45deg) translate(2px, 10px);
            @media (max-width: $mobile) {
              transform: rotate(-45deg) translate(-4px, 4px);
            }
          }
        }
      }
      &.back {
        left: -2px;
        &:hover {
          left: -8px;
          @media (max-width: $mobile) {
            left: -2px;
          }
        }
        div {
          width: 2rem;
          height: 0.4rem;
          background-color: rgb(27, 26, 26);
          position: absolute;
          top: 50%;
          @media (max-width: $mobile) {
            height: 0.3rem;
          }
          &:first-child {
            transform: rotate(45deg) translate(8px, 0px);
            @media (max-width: $mobile) {
              transform: rotate(45deg) translate(0px, 10px);
            }
          }
          &:nth-child(2) {
            transform: rotate(-45deg) translate(15px, -5px);
            @media (max-width: $mobile) {
              transform: rotate(-45deg) translate(5px, -14px);
            }
          }
        }
      }
      &.disabled {
        transition: none;
        pointer-events: none;
        opacity: 0.6;
      }
    }
  }

  // Contact fields
  .form_contact_fields {
    margin: 0 auto;
    width: 750px;
    @media (max-width: $mobile) {
      width: 100%;
    }
    .contact_header {
      font-family: $alterFontFamily;
      font-size: 1vw;
      @media (max-width: $mobile) {
        font-size: 2.5vh;
      }
    }
  }
}

/**
* Form loading
*/
.loading_form {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .logo_container {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 8px 0px #ededed;
    .logo {
      display: block;
      width: 76px;
      height: 76px;
      background-image: url("../assets/images/logo.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
.overlay {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 9999;
}

/**
* Picture field
*/
.picture_field {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  &.visible {
    opacity: 1;
  }
  .image_container {
    width: 100%;
    height: 100%;
    > a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
