.text_field {
  opacity: 0;
  transition: opacity ease 0.5s;
  &.visible {
    opacity: 1;
  }
  .content {
    letter-spacing: 0.1px;
    word-spacing: 1.25px;
    line-height: 19px;
    border: 1px solid #30363d;
    border-radius: 5px;
    padding: 10px;
    p {
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }
}
