{
  "Name": "index",
  "IsAuth": false,
  "Enabled": true,
  "Widgets": [
    {
      "Name": "",
      "ConfigurationName": "",
      "Enabled": false,
      "Placeholder": "",
      "Parameters": [{ "Name": "", "Value": "" }]
    }
  ]
}
