@import "../../theme";

.post_items_list {
  opacity: 0;
  transition: opacity ease 0.5s;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  &.visible {
    opacity: 1;
  }
  .container {
    display: flex;
    padding: 0;
    margin-bottom: 25px;
    border-bottom: 1px dashed $seperatedLineColor;
    padding-bottom: 25px;
    @include imageContainer(270, 1px, 270, 195, 1px, 100, 1%);
    .content_container {
      flex: 1;
      margin-left: 25px;
      @media (max-width: $mobile) {
        margin-left: 10px;
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 7px;
        @media (max-width: $mobile) {
          margin-bottom: 0;
        }
        .link {
          padding: 1px 8px;
          border: 1px solid #ddd;
          background-color: #e9e9e9;
          margin-right: 8px;
          margin-bottom: 5px;
          border-radius: 20px;
          display: inline-block;
          &:hover {
            background-color: #d6d6d6;
          }
          @media (max-width: $mobile) {
            font-size: 9px;
          }
        }
      }
      .title_container {
        .title {
          font-family: $alterFontFamily;
          font-weight: 800;
          text-decoration: none;
          font-size: $titleFontSize;
          color: $primaryHeaderColor;
          @media (max-width: $mobile) {
            font-size: 14px;
          }
        }
      }
      .activity_container {
        display: flex;
        padding-top: 12px;
        .catalog,
        .created_at {
          display: inline-block;
          font-size: 13px;
          font-weight: $bolderWeight;
          text-transform: uppercase;
          @media (max-width: $mobile) {
            font-size: 9px;
          }
        }
        .seperate {
          &::before {
            display: flex;
            content: ".";
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 50%;
            width: 25px;
            font-weight: $boldWeight;
          }
        }
      }
      .short {
        padding-top: 15px;
        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
    @media (max-width: $mobile) {
      // flex-direction: column;
      // .content_container {
      //   margin-left: 0;
      //   margin-top: 10px;
      // }
      @include imageContainer(120, 1px, 120, 87, 1px, 100, 1%, true, true);
    }
  }
}
