@import '../../theme';

.post_items_list {
  opacity: 0;
  transition: opacity ease 0.5s;
  &.visible {
    opacity: 1;
  }
  .container {
    display: flex;
    padding: 0 15px;
    margin-bottom: 25px;
    .image_container {
      width: 300px;
      .image {
        width: 100%;
      }
    }
    .content_container {
      flex: 1;
      margin-left: 25px;
      .title {
        text-decoration: none;
        font-size: $titleFontSize;
        color: $primaryHeaderColor;
      }
      .catalog,
      .created_at {
        font-size: $smallFontSizeDefault;
      }
      .catalog {
        margin-top: 10px;
      }
      .short {
        margin-top: 10px;
      }
    }
  }
}
