@import "../../theme";

$contentWidth: 90%;
.post_items_list {
  opacity: 0;
  transition: opacity ease 0.5s;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  &.visible {
    opacity: 1;
  }
  // Template grid
  .template_grid_item {
    @include gridLayout(3, 30, 30, 1px, 315px);
  }
  .container {
    padding: 0 0 30px 0;
    width: 100%;
    height: 430px;
    @include imageContainer(100, 1%, 386, 279, 1px, 100, 1%, true);
    .content_container {
      width: 100%;
      background-color: transparent;
      .title_container {
        width: $contentWidth;
        padding: 15px 0 0;
        text-align: center;
        margin: 0 auto;
        .title {
          font-family: $alterFontFamily;
          font-weight: 600;
          text-decoration: none;
          font-size: 18px;
          color: $primaryColor;
        }
      }
      .short {
        width: $contentWidth;
        font-size: 14px;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}
