@import "../../theme";
.container {
  @include noPadding;
  &.sticky {
    position: fixed;
  }
  @media (max-width: $mobile) {
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
    &.sticky {
      position: static;
    }
  }
}
